In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# import pandas as pd
import pandas as pd

# Creating  series
ser = pd.Series([4,8,15,16])

print(ser)

0     4
1     8
2    15
3    16
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

#we are already imported pandas lib as pd in above so use that 
#to create series
#creating series which is stored in x
x = pd.Series([1,2,3,4,5,6,7,8,9,'end=10'])
print(x)

0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9    end=10
dtype: object

In [5]:
#Q3. Create a Pandas DataFrame that contains the following data:
#Then, print the DataFrame.

#importing pandas lib as pd
import pandas as pd
#creating  data frame using dictionary 
df = pd.DataFrame({'Name':['Alice','Bob','Claire'],
                   'Age':[25,30,27],
                   'Gender':['Female','male','Female']})
#printing dataframe
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 DataFrames have multiple coloumns while series have single column

that means, dataframe can store more complex and hetrogeneous data.

series can store simple and homogeneous data.

 Another difference is dataframes have different datatypes in eachcolumn

while , series have only one datatype.

i.e., dataframe can handle mixed data types while serie scan handle only one datatype.

 Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
 
 Pandas read_csv() Function: This function is used to retrieve data from CSV 

files in the form of a dataframe.

Pandas head() Function:  This function is used to return the top n (5 by 

default) values of a data frame or series.

Pandas tail() Function:This method is used to return the bottom n (5 by 

default) rows of a data frame or series.

Pandas dtypes() Function: This method returns a Series with the data type of 

each column.

these are the some basic functions in pandas

In [9]:
#example
#examples
#importing pandas lib as pd
import pandas as pd
#creating  data frame using dictionary 
df = pd.DataFrame({'Name':['Alice','Bob','Claire'],
                   'Age':[25,30,27],
                   'Gender':['Female','male','Female']})
df.head(1)

    Name  Age  Gender
0  Alice   25  Female

In [7]:
df.tail(1)

     Name  Age  Gender
2  Claire   27  Female

In [10]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object


Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A Series is a one dimensional array like structure with homogeneous dataThe values of the series are mutable means we can change any value in
series, but the size of the series is immutable so we can not change the size of the series

DataFrame is a two-dimensional array with heterogeneous data. A 
DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time

The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical
representation. But a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable

In [11]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

#importing pandas as pd
import pandas as pd
#creating series uding names
names = ['phani','surya','bhavanya','suresh','narayana','lakshmi']
#creating series using pd
ser = pd.Series(names)
#printing series
print(ser)

0       phani
1       surya
2    bhavanya
3      suresh
4    narayana
5     lakshmi
dtype: object